Click==7.0
dnspython==2.6.1
eventlet==0.40.3
Flask==2.3.2
Flask-SocketIO==4.2.1
greenlet==0.4.15
itsdangerous==1.1.0
Jinja2==3.1.6
MarkupSafe==1.1.1
monotonic==1.5
numpy==1.22.0
Pillow==10.3.0
python-engineio==3.11.2
python-socketio==4.4.0
sense-hat==2.2.0
six==1.14.0
Werkzeug==3.0.6
